body {
	background-color: #ffcccc;
	font-family: 'Oxygen', sans-serif;
}

#header-nav {
	background-color: #ff8533;
	border-radius: 0;
	border: 0;
}

.navbar-brand {
  padding-top: 20px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Oxygen', sans-serif;
  color: #000000;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: black;
  text-align: center;
  font-weight: bold;
}
#nav-list a:hover {
  background: white;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid white;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -20px;
}

#menu-tile {
  width: 100%;
  margin-bottom: 15px;
  border: 2px solid #3F0C1F;
  background-color: pink;
}

#menu-tile section {
  width: 100%;
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  background-color: #ff6666;
  color: black;
}

#menu-tile p {
  margin: 10px;
  font-size: 1.3em;
  }

h2 {
  font-size: 2.5em; 
  color: black; 
  font-weight: bold;
  }

.backtotop {
  color: #006666;
  margin: 10px;
}